spring:
  application:
    name: URL-Shortener

  datasource:
    url: jdbc:mysql://localhost:3306/url_shortener
    username: root # change to your local mysql username
    password: Pratham1* # change to your local mysql password
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
        format_sql: true

server:
  port: 8080

logging:
  level:
    root: INFO
    org:
      example: DEBUG
      hibernate: DEBUG
